.statusOnline {
  display: block;
  padding: 10px;
  border-radius: 20px;
  background-color: green;
  margin: 0 15px 0 15px;
}

.statusOffline {
  composes: statusOnline;
  background-color: red;
}
.name {
  margin-bottom: 10px;
}
